{
  "swagger": "2.0",
  "info": {
    "title": "Collection Service",
    "description": "API for managing collection",
    "version": "v1",
    "contact": {
      "name": "Gemini Team",
      "email": "info@gemini-commerce.com"
    },
    "license": {
      "name": "Gemini fair use license",
      "url": "https://gemini-commerce.com/api/fair-use-license"
    }
  },
  "tags": [
    {
      "name": "ProductList",
      "description": "Collection Description",
      "externalDocs": {
        "url": "https://gemini-commerce.com/api/productlist"
      }
    }
  ],
  "host": "product-list.api.gogemini.io",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/productlist.ProductList/BulkUpdateProductListAssociations": {
      "post": {
        "summary": "Bulk update collection associations position",
        "description": "The BulkUpdateProductListAssociations endpoint updates the positions of specified associations.",
        "operationId": "BulkUpdateProductListAssociations",
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          },
          "500": {
            "description": "An internal error occurred is thrown when an incompatible payload is sent",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/productlistBulkUpdateProductListAssociationsRequest"
            }
          }
        ],
        "tags": [
          "ProductList"
        ],
        "security": [
          {
            "standardAuthorization": []
          }
        ]
      }
    },
    "/productlist.ProductList/CreateProductList": {
      "post": {
        "summary": "Create Collection",
        "description": "The CreateProductList endpoint is used to create a new collection of products within the system. This endpoint allows users to define the details and attributes of the collection.",
        "operationId": "CreateProductList",
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/productlistCreateProductListResponse"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          },
          "500": {
            "description": "An internal error occurred is thrown when an incompatible payload is sent",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/productlistCreateProductListRequest"
            }
          }
        ],
        "tags": [
          "ProductList"
        ],
        "security": [
          {
            "standardAuthorization": []
          }
        ]
      }
    },
    "/productlist.ProductList/CreateProductListAssociation": {
      "post": {
        "summary": "Create Collection/Product Association",
        "description": "The CreateProductListAssociation endpoint is used to create an association between a collection and a product.",
        "operationId": "CreateProductListAssociation",
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/productlistCreateProductListAssociationResponse"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          },
          "500": {
            "description": "An internal error occurred is thrown when an incompatible payload is sent",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/productlistCreateProductListAssociationRequest"
            }
          }
        ],
        "tags": [
          "ProductList"
        ],
        "security": [
          {
            "standardAuthorization": []
          }
        ]
      }
    },
    "/productlist.ProductList/DeleteProductList": {
      "post": {
        "summary": "Delete Collection",
        "description": "The DeleteProductList endpoint is used to delete an existing collection of products within the system.",
        "operationId": "DeleteProductList",
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/productlistDeleteProductListResponse"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          },
          "500": {
            "description": "An internal error occurred is thrown when an incompatible payload is sent",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/productlistDeleteProductListRequest"
            }
          }
        ],
        "tags": [
          "ProductList"
        ],
        "security": [
          {
            "standardAuthorization": []
          }
        ]
      }
    },
    "/productlist.ProductList/DeleteProductListAssociation": {
      "post": {
        "summary": "Delete Collection/Product Association",
        "description": "The DeleteProductListAssociation endpoint is used to delete an association between a collection and a product.",
        "operationId": "DeleteProductListAssociation",
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/productlistDeleteProductListAssociationResponse"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          },
          "500": {
            "description": "An internal error occurred is thrown when an incompatible payload is sent",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/productlistDeleteProductListAssociationRequest"
            }
          }
        ],
        "tags": [
          "ProductList"
        ],
        "security": [
          {
            "standardAuthorization": []
          }
        ]
      }
    },
    "/productlist.ProductList/GetProductListAssociationsByProductGrn": {
      "post": {
        "summary": "Get Collection/Product Associations by Product GRN",
        "description": "The GetProductListAssociationsByProductGrn endpoint is used to get the associations between a collection and a list of products by product GRN.",
        "operationId": "GetProductListAssociationsByProductGrn",
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/productlistGetProductListAssociationsByProductGrnResponse"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          },
          "500": {
            "description": "An internal error occurred is thrown when an incompatible payload is sent",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/productlistGetProductListAssociationsByProductGrnRequest"
            }
          }
        ],
        "tags": [
          "ProductList"
        ],
        "security": [
          {
            "standardAuthorization": []
          }
        ]
      }
    },
    "/productlist.ProductList/GetProductListByCode": {
      "post": {
        "summary": "Get Collection by Code",
        "description": "The GetProductListByCode endpoint is used to retrieve an existing collection of products within the system.",
        "operationId": "GetProductListByCode",
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/productlistGetProductListByCodeResponse"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          },
          "500": {
            "description": "An internal error occurred is thrown when an incompatible payload is sent",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/productlistGetProductListByCodeRequest"
            }
          }
        ],
        "tags": [
          "ProductList"
        ],
        "security": [
          {
            "standardAuthorization": []
          }
        ]
      }
    },
    "/productlist.ProductList/GetProductListById": {
      "post": {
        "summary": "Get Collection by Id",
        "description": "The GetProductListById endpoint is used to retrieve an existing collection of products within the system.",
        "operationId": "GetProductListById",
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/productlistGetProductListByIdResponse"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          },
          "500": {
            "description": "An internal error occurred is thrown when an incompatible payload is sent",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/productlistGetProductListByIdRequest"
            }
          }
        ],
        "tags": [
          "ProductList"
        ],
        "security": [
          {
            "standardAuthorization": []
          }
        ]
      }
    },
    "/productlist.ProductList/GetProductListByUrlKey": {
      "post": {
        "summary": "Get Collection by Url Key",
        "description": "The GetProductListByUrlKey endpoint is used to retrieve an existing collection of products within the system.",
        "operationId": "GetProductListByUrlKey",
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/productlistGetProductListByUrlKeyResponse"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          },
          "500": {
            "description": "An internal error occurred is thrown when an incompatible payload is sent",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/productlistGetProductListByUrlKeyRequest"
            }
          }
        ],
        "tags": [
          "ProductList"
        ],
        "security": [
          {
            "standardAuthorization": []
          }
        ]
      }
    },
    "/productlist.ProductList/GetProductListsCount": {
      "post": {
        "summary": "Get Collection Product Count",
        "description": "The GetProductListsCount endpoint is used to get the number of products associated with a collection.",
        "operationId": "GetProductListsCount",
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/productlistGetProductListsCountResponse"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          },
          "500": {
            "description": "An internal error occurred is thrown when an incompatible payload is sent",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/productlistGetProductListsCountRequest"
            }
          }
        ],
        "tags": [
          "ProductList"
        ],
        "security": [
          {
            "standardAuthorization": []
          }
        ]
      }
    },
    "/productlist.ProductList/ListProductListAssociations": {
      "post": {
        "summary": "List Collection/Product Associations",
        "description": "The ListProductListAssociations endpoint is used to list the associations between a collection and a list of products.",
        "operationId": "ListProductListAssociations",
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/productlistListProductListAssociationsResponse"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          },
          "500": {
            "description": "An internal error occurred is thrown when an incompatible payload is sent",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/productlistListProductListAssociationsRequest"
            }
          }
        ],
        "tags": [
          "ProductList"
        ],
        "security": [
          {
            "standardAuthorization": []
          }
        ]
      }
    },
    "/productlist.ProductList/ListProductLists": {
      "post": {
        "summary": "List Collections",
        "description": "The ListProductLists endpoint is used to retrieve a list of existing collections of products within the system.",
        "operationId": "ListProductLists",
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/productlistListProductListsResponse"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          },
          "500": {
            "description": "An internal error occurred is thrown when an incompatible payload is sent",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/productlistListProductListsRequest"
            }
          }
        ],
        "tags": [
          "ProductList"
        ],
        "security": [
          {
            "standardAuthorization": []
          }
        ]
      }
    },
    "/productlist.ProductList/SearchProductLists": {
      "post": {
        "summary": "Search Collections",
        "description": "The SearchProductLists endpoint is used to retrieve a list of existing collections of products within the system.",
        "operationId": "SearchProductLists",
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/productlistSearchProductListsResponse"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          },
          "500": {
            "description": "An internal error occurred is thrown when an incompatible payload is sent",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/productlistSearchProductListsRequest"
            }
          }
        ],
        "tags": [
          "ProductList"
        ],
        "security": [
          {
            "standardAuthorization": []
          }
        ]
      }
    },
    "/productlist.ProductList/SearchProductListsByIds": {
      "post": {
        "summary": "Search Collections by Ids",
        "description": "The SearchProductListsByIds endpoint is used to retrieve a list of existing collections of products within the system.",
        "operationId": "SearchProductListsByIds",
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/productlistSearchProductListsByIdsResponse"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          },
          "500": {
            "description": "An internal error occurred is thrown when an incompatible payload is sent",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/productlistSearchProductListsByIdsRequest"
            }
          }
        ],
        "tags": [
          "ProductList"
        ],
        "security": [
          {
            "standardAuthorization": []
          }
        ]
      }
    },
    "/productlist.ProductList/UpdateProductList": {
      "post": {
        "summary": "Update Collection",
        "description": "The UpdateProductList endpoint is used to update an existing collection of products within the system.",
        "operationId": "UpdateProductList",
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/productlistUpdateProductListResponse"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          },
          "500": {
            "description": "An internal error occurred is thrown when an incompatible payload is sent",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/productlistUpdateProductListRequest"
            }
          }
        ],
        "tags": [
          "ProductList"
        ],
        "security": [
          {
            "standardAuthorization": []
          }
        ]
      }
    }
  },
  "definitions": {
    "OrderByDirection": {
      "type": "string",
      "enum": [
        "DEFAULT",
        "ASC",
        "DESC"
      ],
      "default": "DEFAULT"
    },
    "SearchProductListsRequestQuery": {
      "type": "object",
      "properties": {
        "attributes": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "value": {
          "type": "string"
        }
      }
    },
    "productlistBulkUpdateProductListAssociationsRequest": {
      "type": "object",
      "properties": {
        "tenantId": {
          "type": "string"
        },
        "productListAssociations": {
          "type": "array",
          "items": {
            "type": "object",
            "$ref": "#/definitions/productlistBulkUpdateProductListAssociationsRequestProductListAssociation"
          }
        }
      }
    },
    "productlistBulkUpdateProductListAssociationsRequestProductListAssociation": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string"
        },
        "position": {
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "productlistBulkUpdateProductListAssociationsResponse": {
      "type": "object"
    },
    "productlistCreateProductListAssociationRequest": {
      "type": "object",
      "properties": {
        "tenantId": {
          "type": "string"
        },
        "listId": {
          "type": "string"
        },
        "position": {
          "type": "integer",
          "format": "int32"
        },
        "productGrn": {
          "type": "string"
        }
      }
    },
    "productlistCreateProductListAssociationResponse": {
      "type": "object",
      "properties": {
        "association": {
          "$ref": "#/definitions/productlistProductListAssociation"
        },
        "errors": {
          "type": "array",
          "items": {
            "type": "object",
            "$ref": "#/definitions/productlistProductListAssociationError"
          }
        }
      }
    },
    "productlistCreateProductListRequest": {
      "type": "object",
      "properties": {
        "tenantId": {
          "type": "string"
        },
        "code": {
          "type": "string"
        },
        "urlKey": {
          "$ref": "#/definitions/productlistLocalizedText"
        },
        "entityType": {
          "type": "string"
        },
        "entityCode": {
          "type": "string"
        },
        "attributes": {
          "type": "object",
          "additionalProperties": {
            "$ref": "#/definitions/protobufAny"
          }
        }
      }
    },
    "productlistCreateProductListResponse": {
      "type": "object",
      "properties": {
        "list": {
          "$ref": "#/definitions/productlistProductListEntity"
        },
        "errors": {
          "type": "array",
          "items": {
            "type": "object",
            "$ref": "#/definitions/productlistProductListError"
          }
        }
      }
    },
    "productlistDeleteProductListAssociationRequest": {
      "type": "object",
      "properties": {
        "tenantId": {
          "type": "string"
        },
        "id": {
          "type": "string"
        }
      }
    },
    "productlistDeleteProductListAssociationResponse": {
      "type": "object",
      "properties": {
        "association": {
          "$ref": "#/definitions/productlistProductListAssociation"
        },
        "errors": {
          "type": "array",
          "items": {
            "type": "object",
            "$ref": "#/definitions/productlistProductListAssociationError"
          }
        }
      }
    },
    "productlistDeleteProductListRequest": {
      "type": "object",
      "properties": {
        "tenantId": {
          "type": "string"
        },
        "id": {
          "type": "string"
        }
      }
    },
    "productlistDeleteProductListResponse": {
      "type": "object",
      "properties": {
        "list": {
          "$ref": "#/definitions/productlistProductListEntity"
        },
        "errors": {
          "type": "array",
          "items": {
            "type": "object",
            "$ref": "#/definitions/productlistProductListError"
          }
        }
      }
    },
    "productlistGetProductListAssociationsByProductGrnRequest": {
      "type": "object",
      "properties": {
        "tenantId": {
          "type": "string"
        },
        "productGrn": {
          "type": "string"
        }
      }
    },
    "productlistGetProductListAssociationsByProductGrnResponse": {
      "type": "object",
      "properties": {
        "associations": {
          "type": "array",
          "items": {
            "type": "object",
            "$ref": "#/definitions/productlistProductListAssociation"
          }
        }
      }
    },
    "productlistGetProductListByCodeRequest": {
      "type": "object",
      "properties": {
        "tenantId": {
          "type": "string"
        },
        "code": {
          "type": "string"
        }
      }
    },
    "productlistGetProductListByCodeResponse": {
      "type": "object",
      "properties": {
        "list": {
          "$ref": "#/definitions/productlistProductListEntity"
        }
      }
    },
    "productlistGetProductListByIdRequest": {
      "type": "object",
      "properties": {
        "tenantId": {
          "type": "string"
        },
        "id": {
          "type": "string"
        }
      }
    },
    "productlistGetProductListByIdResponse": {
      "type": "object",
      "properties": {
        "list": {
          "$ref": "#/definitions/productlistProductListEntity"
        }
      }
    },
    "productlistGetProductListByUrlKeyRequest": {
      "type": "object",
      "properties": {
        "tenantId": {
          "type": "string"
        },
        "urlKey": {
          "type": "string"
        },
        "locale": {
          "type": "string"
        }
      }
    },
    "productlistGetProductListByUrlKeyResponse": {
      "type": "object",
      "properties": {
        "list": {
          "$ref": "#/definitions/productlistProductListEntity"
        }
      }
    },
    "productlistGetProductListsCountRequest": {
      "type": "object",
      "properties": {
        "tenantId": {
          "type": "string"
        }
      }
    },
    "productlistGetProductListsCountResponse": {
      "type": "object",
      "properties": {
        "totalSize": {
          "type": "integer",
          "format": "int64"
        }
      }
    },
    "productlistListProductListAssociationsRequest": {
      "type": "object",
      "properties": {
        "tenantId": {
          "type": "string"
        },
        "listId": {
          "type": "string"
        },
        "productGrn": {
          "type": "string"
        },
        "pageSize": {
          "type": "integer",
          "format": "int64"
        },
        "pageToken": {
          "type": "string"
        },
        "orderBy": {
          "type": "array",
          "items": {
            "type": "object",
            "$ref": "#/definitions/productlistOrderBy"
          }
        }
      }
    },
    "productlistListProductListAssociationsResponse": {
      "type": "object",
      "properties": {
        "associations": {
          "type": "array",
          "items": {
            "type": "object",
            "$ref": "#/definitions/productlistProductListAssociation"
          }
        },
        "nextPageToken": {
          "type": "string"
        }
      }
    },
    "productlistListProductListsRequest": {
      "type": "object",
      "properties": {
        "tenantId": {
          "type": "string"
        },
        "pageSize": {
          "type": "integer",
          "format": "int64"
        },
        "pageToken": {
          "type": "string"
        }
      }
    },
    "productlistListProductListsResponse": {
      "type": "object",
      "properties": {
        "lists": {
          "type": "array",
          "items": {
            "type": "object",
            "$ref": "#/definitions/productlistProductListEntity"
          }
        },
        "nextPageToken": {
          "type": "string"
        }
      }
    },
    "productlistLocalizedText": {
      "type": "object",
      "properties": {
        "value": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      }
    },
    "productlistOrderBy": {
      "type": "object",
      "properties": {
        "field": {
          "type": "string"
        },
        "direction": {
          "$ref": "#/definitions/OrderByDirection"
        }
      }
    },
    "productlistProductListAssociation": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string"
        },
        "listId": {
          "type": "string"
        },
        "position": {
          "type": "integer",
          "format": "int32"
        },
        "productGrn": {
          "type": "string"
        }
      }
    },
    "productlistProductListAssociationError": {
      "type": "object",
      "properties": {
        "code": {
          "type": "string"
        },
        "message": {
          "type": "string"
        }
      }
    },
    "productlistProductListEntity": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string"
        },
        "code": {
          "type": "string"
        },
        "urlKey": {
          "$ref": "#/definitions/productlistLocalizedText"
        },
        "entityType": {
          "type": "string"
        },
        "entityCode": {
          "type": "string"
        },
        "createdAt": {
          "type": "string",
          "format": "date-time"
        },
        "updatedAt": {
          "type": "string",
          "format": "date-time"
        },
        "attributes": {
          "type": "object",
          "additionalProperties": {
            "$ref": "#/definitions/protobufAny"
          }
        },
        "countAssociations": {
          "type": "integer",
          "format": "int64"
        }
      }
    },
    "productlistProductListError": {
      "type": "object",
      "properties": {
        "code": {
          "type": "string"
        },
        "message": {
          "type": "string"
        }
      }
    },
    "productlistSearchProductListsByIdsRequest": {
      "type": "object",
      "properties": {
        "tenantId": {
          "type": "string"
        },
        "ids": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "pageSize": {
          "type": "integer",
          "format": "int64"
        },
        "pageNumber": {
          "type": "integer",
          "format": "int64"
        }
      }
    },
    "productlistSearchProductListsByIdsResponse": {
      "type": "object",
      "properties": {
        "results": {
          "type": "array",
          "items": {
            "type": "object",
            "$ref": "#/definitions/productlistProductListEntity"
          }
        }
      }
    },
    "productlistSearchProductListsRequest": {
      "type": "object",
      "properties": {
        "tenantId": {
          "type": "string"
        },
        "query": {
          "$ref": "#/definitions/SearchProductListsRequestQuery"
        },
        "pageSize": {
          "type": "integer",
          "format": "int64"
        },
        "pageNumber": {
          "type": "integer",
          "format": "int64"
        }
      }
    },
    "productlistSearchProductListsResponse": {
      "type": "object",
      "properties": {
        "results": {
          "type": "array",
          "items": {
            "type": "object",
            "$ref": "#/definitions/productlistProductListEntity"
          }
        },
        "totalSize": {
          "type": "integer",
          "format": "int64"
        }
      }
    },
    "productlistUpdateProductListRequest": {
      "type": "object",
      "properties": {
        "tenantId": {
          "type": "string"
        },
        "id": {
          "type": "string"
        },
        "urlKey": {
          "$ref": "#/definitions/productlistLocalizedText"
        },
        "attributes": {
          "type": "object",
          "additionalProperties": {
            "$ref": "#/definitions/protobufAny"
          }
        },
        "attributesMask": {
          "type": "string"
        }
      }
    },
    "productlistUpdateProductListResponse": {
      "type": "object",
      "properties": {
        "list": {
          "$ref": "#/definitions/productlistProductListEntity"
        },
        "errors": {
          "type": "array",
          "items": {
            "type": "object",
            "$ref": "#/definitions/productlistProductListError"
          }
        }
      }
    },
    "protobufAny": {
      "type": "object",
      "properties": {
        "@type": {
          "type": "string",
          "description": "A URL/resource name that uniquely identifies the type of the serialized\nprotocol buffer message. This string must contain at least\none \"/\" character. The last segment of the URL's path must represent\nthe fully qualified name of the type (as in\n`path/google.protobuf.Duration`). The name should be in a canonical form\n(e.g., leading \".\" is not accepted).\n\nIn practice, teams usually precompile into the binary all types that they\nexpect it to use in the context of Any. However, for URLs which use the\nscheme `http`, `https`, or no scheme, one can optionally set up a type\nserver that maps type URLs to message definitions as follows:\n\n* If no scheme is provided, `https` is assumed.\n* An HTTP GET on the URL must yield a [google.protobuf.Type][]\n  value in binary format, or produce an error.\n* Applications are allowed to cache lookup results based on the\n  URL, or have them precompiled into a binary to avoid any\n  lookup. Therefore, binary compatibility needs to be preserved\n  on changes to types. (Use versioned type names to manage\n  breaking changes.)\n\nNote: this functionality is not currently available in the official\nprotobuf release, and it is not used for type URLs beginning with\ntype.googleapis.com.\n\nSchemes other than `http`, `https` (or the empty scheme) might be\nused with implementation specific semantics."
        }
      },
      "additionalProperties": {},
      "description": "`Any` contains an arbitrary serialized protocol buffer message along with a\nURL that describes the type of the serialized message.\n\nProtobuf library provides support to pack/unpack Any values in the form\nof utility functions or additional generated methods of the Any type.\n\nExample 1: Pack and unpack a message in C++.\n\n    Foo foo = ...;\n    Any any;\n    any.PackFrom(foo);\n    ...\n    if (any.UnpackTo(\u0026foo)) {\n      ...\n    }\n\nExample 2: Pack and unpack a message in Java.\n\n    Foo foo = ...;\n    Any any = Any.pack(foo);\n    ...\n    if (any.is(Foo.class)) {\n      foo = any.unpack(Foo.class);\n    }\n\nExample 3: Pack and unpack a message in Python.\n\n    foo = Foo(...)\n    any = Any()\n    any.Pack(foo)\n    ...\n    if any.Is(Foo.DESCRIPTOR):\n      any.Unpack(foo)\n      ...\n\nExample 4: Pack and unpack a message in Go\n\n     foo := \u0026pb.Foo{...}\n     any, err := anypb.New(foo)\n     if err != nil {\n       ...\n     }\n     ...\n     foo := \u0026pb.Foo{}\n     if err := any.UnmarshalTo(foo); err != nil {\n       ...\n     }\n\nThe pack methods provided by protobuf library will by default use\n'type.googleapis.com/full.type.name' as the type URL and the unpack\nmethods only use the fully qualified type name after the last '/'\nin the type URL, for example \"foo.bar.com/x/y.z\" will yield type\nname \"y.z\".\n\n\nJSON\n\nThe JSON representation of an `Any` value uses the regular\nrepresentation of the deserialized, embedded message, with an\nadditional field `@type` which contains the type URL. Example:\n\n    package google.profile;\n    message Person {\n      string first_name = 1;\n      string last_name = 2;\n    }\n\n    {\n      \"@type\": \"type.googleapis.com/google.profile.Person\",\n      \"firstName\": \u003cstring\u003e,\n      \"lastName\": \u003cstring\u003e\n    }\n\nIf the embedded message type is well-known and has a custom JSON\nrepresentation, that representation will be embedded adding a field\n`value` which holds the custom JSON in addition to the `@type`\nfield. Example (for message [google.protobuf.Duration][]):\n\n    {\n      \"@type\": \"type.googleapis.com/google.protobuf.Duration\",\n      \"value\": \"1.212s\"\n    }"
    },
    "rpcStatus": {
      "type": "object",
      "properties": {
        "code": {
          "type": "integer",
          "format": "int32"
        },
        "message": {
          "type": "string"
        },
        "details": {
          "type": "array",
          "items": {
            "type": "object",
            "$ref": "#/definitions/protobufAny"
          }
        }
      }
    }
  },
  "securityDefinitions": {
    "standardAuthorization": {
      "type": "oauth2",
      "name": "Authorization",
      "in": "header",
      "flow": "implicit"
    }
  }
}